<div class="myapps">
  <div class=" create-appform ">
    <nav class="sidebar create-app-leftcol">
      <div id="myapp-data">Apps<span id="arrow-down">
        <svg focusable="false"  version="1.1" id="chevron_x5F_down-layer" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18"
             style="enable-background:new 0 0 18 18;" xml:space="preserve">
      <g id="chevron_x5F_down_1_">
        <polygon points="17,4.196 9,12.194 1,4.196 1,5.892 9,13.892 17,5.892 	"></polygon>
        <rect transform="matrix(-1 -1.224647e-16 1.224647e-16 -1 18 18)" style="fill:none;" width="18"
              height="18"></rect>
      </g>
      </svg></span></div>
      <ul class="nav flex-column">
        <li>
          <a class="nav-link" href="/list-company">Companies</a>
        </li>
        <li>
          <a class="nav-link hsbc-bold active" href="/myapp">Apps</a>
        </li>
      </ul>
    </nav>
    <main role="main" class="create-app-rightcol">
      <div class="">
        <h1 class="create-app hsbc-light">Create a new app</h1>
        <div class="create-app-desc border-bottom">
          Create a new app and you can start developing with sandbox APIs and request production access.
        </div>
        <div class="required-text">
          <span class="app-required">
            <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="currentColor"
                                          class="bi bi-asterisk" viewBox="0 0 16 16">
  <path
    d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"/>
</svg></span>Indicates required field
        </div>
      </div>
      <div class="w-50 create-appname">
        {{ form.mulesoft_app_name }}
      </div>
      <div>
        {{ form.mulesoft_user_group }}
      </div>
      <div class="mulesoft-apis">
        {{ form.mulesoft_group_apis }}
      </div>
      <div class="table-hr w-sm-100">
      </div>

      {{ form.form_build_id }}
      {{ form.form_token }}
      {{ form.form_id }}

      <div class="create-app-btn-grp">
        {{ form.submit }}
        <a href="/myapp" class="btn btn-tertiary--light mx-2" data-drupal-selector="edit-cancel" id="edit-cancel">Cancel</a>
      </div>
    </main>
  </div>
</div>
