<div class="edit-app-form">
    <main role="main" class="">
      <div class="">
      <h1 class="h1-appdetails">Edit app details</h1>
      <div class="required-text">
          <span class="app-required">
            <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="currentColor" class="bi bi-asterisk" viewBox="0 0 16 16">
  <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"></path>
</svg></span>Indicates required field
      </div>
      <div class="edit-app-name">
        {{ form.status_messages }}
        {{ form.mulesoft_app_name }}
      </div>

      <div class="d-flex w-100 justify-content-end edit-app-btn-grp">
        <a href="" class="btn btn-tertiary--light  cancel-edit-app"
           data-drupal-selector="edit-cancel" id="edit-cancel">Cancel</a>
        {{ form.submit }}
      </div>
      {{ form.form_build_id }}
      {{ form.form_token }}
      {{ form.form_id }}
  </div>
    </main>
</div>
